<html>
<head>
	<script>
	$(function() {
		var dialog, form;
		
		function showResponse(responseText, statusText, xhr, $form)  {			
			if (xhr.status == 206) {
				$("#dialog-form").html(responseText);		
			} else {
				$("#dialog-form").dialog("close");
			}	
		}
		$('#form-publication').ajaxForm({success: showResponse}); 
		 
		dialog = $("#dialog-form").dialog({
			autoOpen : false,
			height : 350,
			width : 450,
			modal : true,
			title: "Add/Edit Publications",
			buttons : {
				OK : function() {
					$("#form-publication").submit();
				},
				Close : function() {
					dialog.dialog("close");
				}
			},
			close : function() {
				window.location.href=window.location.href;
			}
		});
	});	
	
	</script>

</head>
<body>
	<div th:fragment="create" id="dialog-form">
		<form action="#" th:action="@{/publications/}" th:object="${publication}" method="post" enctype="multipart/form-data" id="form-publication">
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			<table>
				<tr>
					<td>Title: <input type="hidden" th:field="*{id}" /></td>
					<td><input type="text" th:field="*{title}" /></td>
				</tr>
				<tr >
					<td bgcolor="red" colspan="2" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">title error</td>
				</tr>
				<tr>
					<td>Author:</td>
					<td><input type="text" th:field="*{author}" /></td>
				</tr>
				<tr>
					<td bgcolor="red" colspan="2" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">author error</td>
				</tr>
				<tr>
					<td>Year:</td>
					<td><input type="text" th:field="*{year}" /></td>
				</tr>
				<tr>
					<td bgcolor="red" colspan="2" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">year error</td>
				</tr>
				<tr>
					<td colspan="2">File to upload: <input type="file" name="file" accept="application/pdf"/></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>